{% extends "base.html" %}
{% import "macros/general.html" as macros %}
 
{% block SEO %}
  <title>Καλώς Ορίσατε | Μαθήματα Ιστορίας</title>

  <meta name="description" content="{{ config.description }}">
{% endblock SEO %}

{% block content %}
  <div class="hero bg-lighter">
    <div>
      <h1 class="hero__title">Παγκόσμια, Αντικειμενικά Μαθήματα Ιστορίας</h1>
      <p>Η ιστορία που διδάσκονται οι μαθητές της δημόσιας εκπαίδευση αποδεικνύεται συχνά παραπλανητική και μεροληπτική. Τα σχολικά κεφάλαια αφορούν κατά κύριο λόγο την Ευρώπη και το τοπικό παρελθόν της Ελλάδας.</p>

      <a href="/lessons/taiping-rebellion">
        <button class="bg-primary mt">Εξερεύνησε</button>
      </a>
    </div>

    <img src="https://static.wixstatic.com/media/8bb056_56e1a4995fbe4866bb8e87ac63784063.png/v1/crop/x_382,y_80,w_1318,h_1253/fill/w_560,h_524,al_c,q_85,usm_0.66_1.00_0.01/8bb056_56e1a4995fbe4866bb8e87ac63784063.webp" width="400px">
  </div>

  <div class="cards__container">
    {{ 
      macros::card(
        title="Αντικειμενικότητα",
        content="Τα μαθήματα μας είναι αντικειμενικά και δεν διαθέτουν κανένα 
        είδος μεροληπτικού σχολιασμού. Παρουσιάζουμε την ιστορία ως ερευνητές."
      ) 
    }}

    {{ 
      macros::card(
        title="Χωρίς Διαφημίσεις",
        content="Το περιεχόμενο της ιστοσελίδας μας διατίθεται χωρίς διαφημίσεις 
        και εσωτερικές αγορές. Δεν συλλέγουμε τις προσωπικές σας πληροφορίες 
        και σεβόμαστε την ιδιοτικότητά σας."
      ) 
    }}

    {{ 
      macros::card(
        title="Εγκυρότητα",
        content="Τα μαθήματά μας προκύπτουν πάντοτε από ξεκάθαρες πηγές.
        Σε περίπτωση ωστόσο που αναγνωρίσεται το οποιοδήποτε λάθος, μπορείται
        να επικοινωνήσεται μαζί μας. Η διόρθωσή μας θα είναι άμεση."
      ) 
    }}

  </div>
{% endblock content %}
